.container{
    background-color: rgb(247, 240, 250);
    margin:auto;
    width: 90%;
    height: 2000px;
    border: 5px solid darkmagenta;
    border: 10%;
    border-radius: 2%; 
    text-align: center;
  }
  .container-quemsou{
    background-color: rgb(247, 240, 250);
    margin:auto;
    width: 90%;
    height: 2000px;
    border: 5px solid darkmagenta;
    border: 10%;
    border-radius: 2%; 
    text-align: center;
  }
  .container-portifolio{
    background-color: rgb(247, 240, 250);
    margin:auto;
    width: 90%;
    height: 5000px;
    border: 5px solid darkmagenta;
    border: 10%;
    border-radius: 2%; 
    text-align: center;
  }
  header{
    width: 100%;
    text-align: center;
  }

  hr{
  border-color: darkmagenta;
  text-align: center;
  }

  .foto-inicial{
    border-radius: 10%;
    padding: 10px;
    width: 200px; 
    text-align: center;
  }
  .titulo-inicial{
    width: fit-content;
    text-align: center;
  }
  h1{
   padding: 5px;
   text-align: center;
   font-weight: bold;
   color: rgb(133, 68, 146);
  }
  .conteudo-esquerdo{
    padding: 15px;
    border: 2px solid rgb(163, 68, 182);
    border-radius: 5%;
    margin: 100px;
    width: 50%;
    text-align: center;
  }
  .foto-banda-cdg{
    border-radius: 5%;
    width: 50%;
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border-left: 5px;
  }
  .abas{
    color: rgb(130, 59, 148);
    text-decoration:none;
    text-align: center;
  }
  .sidebar{
    padding: 15px;
    text-align: center;
  }
  .segundo-texto{
    border: 2px solid rgb(130, 59, 148);
    border-radius: 2%;
    text-align: center;
  }
  .rodape{
    color: rgb(63, 34, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
    text-align: center;
  }
  .foto-quemsou{
    width: 20%;
    border-radius: 5%;
    text-align: center;
  }
  .portifolio{
    text-align: center;
    border-radius: 5%;
    width: 50%;
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .portifolio-promessa{
    text-align: center;
    border-radius: 5%;
    width: 50%;
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .portifolio-maquiagem{
    text-align: center;
    border-radius: 5%;
    width: 50%;
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .portifolio-garten{
    text-align: center;
    border-radius: 5%;
    width: 50%;
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  main{
    text-align: center;
  }
  html{
    text-align: center;
  }
